@import url("/css/config.css");
body {
    background-color: #f2f2f2;
    font-family: "Arlon Regular";
    color: var(--general-color);
}

.sign-in-up-form {
    width: 100%;
    max-width: 27rem;

    .form-titles {
        h2 {
            border-bottom: 2px solid var(--title-color);
            opacity: 0.5;
            background: #8080805e;
        }
        h2.active {
            opacity: 1;
            background: unset;
        }
    }

    div.input-field-container {
        i.fas {
            left: 1.4rem;
            top: 0.6rem;
            font-size: 1.3rem;
            opacity: 0.5;
        }

        i.fas.fa-eye,
        i.fas.fa-eye-slash {
            right: 1.4rem;
            left: unset;
        }
    }
}
