@import "../partials/config";
@import "../partials/_utils";
header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 5rem;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    & > .wrapper {
        display: grid;
        grid-template-columns: 5rem 1fr;
        align-items: center;

        .logo-container {
            grid-column: 1/2;
            width: 100%;
        }
        .navbar-container {
            grid-column: 2/3;
            width: 100%;
        }
    }
    &.sticky-header {
        background: #fff;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
    }
    @import "../components/public-navbar.scss";
}
@media screen and (max-width:576px) {
    html{
        font-size: clamp(10px,3.5vw,16px);
    }
}
@import "../components/public-footer.scss";
