section.banner {
    height: 100vh;
    // background-image: linear-gradient(
    //         to bottom,
    //         rgba(0, 0, 0, 0.7),
    //         rgba(0, 0, 0, 0.137)
    //     ),url("../../imgs/image_3.jpg");
    background-image: url("../../imgs/image_3.jpg");
    background-size: cover;

    .error-msg{
        font-size: .7rem;
    }
}
.demand-sent{
    max-width: 35rem;
}
