.course-item.course {
    width: 19rem;
    height: 25rem;
    transform: scale(0.95);
    overflow-y: hidden;
    z-index: 1;
    background: #fff;
    transition: transform 0.4s ease-in-out;

    .card-img {
        height: 10rem;
        img {
            object-fit: cover;
        }
    }
    .card-body {
        p {
            font-size: 0.8rem;
        }
        .course-categories {
            font-size: 0.75rem;
        }
        .btn {
            font-size: 0.85rem;
        }
    }
    .rating {
        i.fas {
            font-size: 0.8rem;
        }
    }

    &:hover {
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.219);
        transform: scale(1);
    }
}
