nav#nav-bar {
    > .wrapper {
    }
}
.search-bar {
    width: clamp(15rem,100%,45rem);
    .wrapper {
        grid-template-columns: 1fr 2rem;
        background-color: rgba(255, 255, 255, 0.7);
        input {
            grid-column: 1/2;
            width: 100%;
        }
        button {
            grid-column: 2/3;
            width: 100%;
        }
    }
}
@media screen and (min-width:576px) and (max-width:892px) {
    nav#nav-bar {
        > .wrapper {
            .btns-container a{
                font-size: clamp(10px,1.5vw,16px);
            }
        }
    }
}