footer {
    background-color: #fff;
    // background-color: lighten($color: $custom-blue-color, $amount: 9);
    .copyright {
        height: 3rem;
        background-color: #80808048;
    }
}
@media screen and (max-width: 576px) {
}
